* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: cursive;
}

body {
    background: #3b4664;
}

.hero-input input{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 22%;
    height: 10vh;
    background: #181f32;
    border: 3px solid #181f32;
    border-radius: 5px;
    color: #fff;
}

input {
    text-align: right;
    font-size: 30px;
}

.nav {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    gap: 160px;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    background: #181f32;
    height: 50vh;
    align-items: center;
    width: 22%;
    margin: 0 auto;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
}

.buttons {
    flex-direction: row;
    gap: 15px;
    display: flex;
}

.numbers {
    width: 50px;
    height: 32px;
    border-radius: 3px;
    background: #e7e2dc;
    border: 3px solid #e7e2dc;
    color: #626d95;
}

.extra  {
    width: 115px;
    height: 32px;
    background: #626d95;
    border: 3px solid #626d95;
    border-radius: 3px;
    color: #fff;
}
.extras  {
    width: 115px;
    height: 32px;
    background: #ca3d2e;
    border: 1px solid #ca3d2e;
    color: #fff;
    border-radius: 3px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    background: #333;
    border-radius: 3px;
    width: 53px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background: #ca3d2e;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus + .slider {
    background-color: #333;
}

input:focus + .slider {
    box-shadow: 0 0 1px #333;
}

input:checked +
.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 798px) {
    .container {
        width: 52%;
    }

    .hero-input input {
        width: 52%;
    }

    .nav {
        display: flex;
        margin: 0 auto;
        align-items: center;
        flex-direction: row;
        gap: 143px;
        color: #fff;
    }
}